# Populated from Terraform output: client_websocket_url:
PUBLIC_ORCHESTRATOR_URL=wss://xxxxxxxx.execute-api.eu-west-2.amazonaws.com/xxx/
# Populated from Terraform output: cognito_identity_pool_id:
PUBLIC_COGNITO_IDENTITY_POOL_ID=eu-west-2:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
PUBLIC_AWS_REGION=eu-west-2
