# Populated from Terraform output: orchestrator_url
PUBLIC_ORCHESTRATOR_URL=https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.lambda-url.eu-west-2.on.aws
# Populated from Terraform output: cognito_identity_pool_id:
PUBLIC_COGNITO_IDENTITY_POOL_ID=eu-west-2:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
PUBLIC_AWS_REGION=eu-west-2
